html {
    font-size: 16px;
    font-family: "Kiwi Maru", serif;
    text-align: center;
    color: black;
    background-color: antiquewhite;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    margin-top: 5px;
    padding: 0 20px;
}

.logo {
    width: 150px;
    height: auto;
}

p {
    font-size: 1.25rem;
    padding-left: 25%;
    padding-right: 25%;
    text-align: justify;
    
}

.footer {
    font-size: 1rem;
    color: gray;
}

nav {
    background-color: black;
    padding: 25px;
    display: inline-block;
    width: 100%;
    height: 75px;
}

button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 
  }
  
  .button:hover {
    background-color: #1A237E;
    color: white;
    border: 2px solid white;
  }

  ul {
    display: inline-block;
  }

  ul li {
    text-align: left;
    margin-left: 25%;
  }

  .italic {
      text-decoration: underline;
  }

  /* Das Kontaktformular */
form {
  background-color: #eee;
  width: 370px; /* Breite des Formulars */
  padding: 20px;
  border: 1px solid #8c8c8c;
  margin-left: auto;
  margin-right: auto;
}
label { /* Beschriftung auf eigener Zeile */
  display: block;
  cursor: pointer; /* Mauszeiger wird zur Hand */
}
input#absender,
textarea {
  width: 300px;
  border: 1px solid #8c8c8c;
  margin-bottom: 1em;
}
textarea {
  height: 7em;
}
input:focus,
textarea:focus {
  background-color: #d9d9d9;
}

.share-btn-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.share-btn-container a i {
  font-size: 32px;
}

.share-btn-container a {
  margin: 12px 0;
  transition: 500ms;
}

.share-btn-container a:hover {
  transform: scale(1.2);
}

.share-btn-container .fa-twitter {
  color: #1da1f2; 
}

.share-btn-container .fa-github {
  color: #333;
}

.share-btn-container .fa-reddit {
  color: #ff4500;
}


@media (max-width: 550px) {
  .content {
    padding: 8px 32px;
  }

  .share-btn-container {
    transform: unset;
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    padding: 16px 0;
    justify-content: center;
  }

  .share-btn-container a {
    maring: 0 32px;
  }
}