html {
    font-size: 16px;
    font-family: "Kiwi Maru", serif;
    text-align: center;
    color: antiquewhite;
    background-color: black;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
    padding-left: 25%;
    padding-right: 25%;
    
}

.footer {
    font-size: 1rem;
    color: gray;
}

